#compose-body {
    min-height: 100px;
    width: 50%;
    margin-left: 20px;
}

h4 {
    margin-left: 20px !important;
}

.text-white {
    margin: 5px;
}

#newTodo {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#time-picker {
    width: 30%;
    margin-left: 20px;
    display: block;
    height: calc(1.5em + .75rem + 2px);
}


@media screen and (max-width: 991.98px){
    body {
        background-color: lightblue !important;
    }
    #nav-bar {
        flex-direction: initial;
        margin-right: 0 !important;

    }
    li {
        padding: 10px;
    }
    .body {
        text-align: center;
    }
    #compose-body {
        display: initial;
    }
    #time-picker {
        display: initial;
    }
}

@media screen and (max-width: 710px) {
    #nav-bar {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightsalmon !important;
    }
    #nav-bar {
        font-size: 10px !important;
    }
    #compose-body {
        width: 70%;
    }
    #time-picker {
        width: 60%;
    }
}

@media screen and (max-width: 460px) {
    #nav-bar {
        flex-direction: column;
    }
}